<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Graphics</key>
        <dict>
            <key>1</key>
            <string>Cover.jpg</string>
            <key>3</key>
            <string>Figures/Gregarious Grange.png</string>
            <key>4</key>
            <string>Figures/Bureaucratic Hall.png</string>
            <key>5</key>
            <string>Figures/Subway Station.png</string>
            <key>6</key>
            <string>Figures/bureaucrat1.png</string>
            <key>7</key>
            <string>Figures/bureaucrat2.png</string>
            <key>8</key>
            <string>Figures/bureaucrat3.png</string>
            <key>9</key>
            <string>Figures/skill.png</string>
            <key>10</key>
            <string>Figures/ccq.png</string>
            <key>11</key>
            <string>Figures/yhp.png</string>
            <key>12</key>
            <string>Figures/swf.png</string>
        </dict>
    </dict>
</plist>
